*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: #ff6900;
}
nav{
    display: flex;
}
.nav_links {
    width: 100%;
}
.nav_links ul{
    height: 60px;
    display: flex;
    justify-content: space-between;
}
li{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
