*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* INIZIO REGOLE GENERALI */
header{
    position: fixed;
    width: 100%;
    background-color: #ff6900; 
    height: 60px;
    display: flex;
    justify-content: center;
    z-index: 500;
}
nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    padding-top: 80px;
}
h5{
    font-size: 12px;
    font-weight: 500;
    font-family: 'Maven Pro', sans-serif;
    color: black;
}



/* FINE REGOLE GENERALI */


/* INIZIO PARTE HEADER */
.links{
    width: 25%;
}
.links ul{
    display: flex;
    justify-content: flex-start;
}
li{
    list-style: none;
    margin-right: 10px;
    color:white
}
.img{
    display: flex;
    justify-content: center;
}
.img img{
    width: 150px;
}
.shop_contacts{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    
}
.shop_contacts i{
    padding: 0px 5px;
    color: white;
}
/* FINE PARTE HEADER */

/* INIZIO PARTE MAIN */
.dist_row{
    width: 100%;
    display: flex;
    justify-content: center;
}
.row{
    width: 70%;
    display: flex;
    justify-content: center;
    /* margin-bottom: 30px; */
}
.col{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    width: calc((80%/3) - 10px);
    margin: 0px 10px;
    position: relative;
    /* DEBUG */
    /* background-color: red;
    height: 400px;
    border: 1px solid black; */
}
.col img{
    width: 100%;
}
.heart_box{
    position: absolute;
    top: 8px;
    right: 0;
    background-color: white;
    padding: 5px 0px 0px 10px ;
    height: 35px;
    width: 35px;
}
.heart_box::before{
    content: "\2665";
    color: black;
    font-size: 22px;
}
.text_under_img {
    display: flex;
    flex-direction: column;
    line-height: 13px;
    font-weight: 200;
    font-size: 10px;
    margin-top: 2px;
}

.price{
    font-size: 10px;
    font-weight: 200;
}
.current{
    color: red;
}
.old{
    padding-left: 5px;
    text-decoration: line-through;
    color: black;
}